doctype html
meta(charset="utf-8")
meta(name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;")
title Megahertz Hannover
link(rel="stylesheet", type="text/css", href="style.css")

body(lang="de")
  #top
    img#logo-ontop(src="logo-web.svg")
    ul#header
      li.main: a(href="./")
        img#logo(src="logo-web.svg")
        | Megahertz Hannover
      li: a(href="./kontakt.html") Kontakt
      li: a(href="./datenschutz.html") Datenschutz

  #content
    block content
