doctype html
meta(charset="utf-8")
meta(name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;")
title Megahertz Hannover
link(rel="stylesheet", type="text/css", href="style.css")

body(lang="de")
  #theme-select
    a#day(href="javascript:day();") Tag
    a#night(href="javascript:night()") Nacht

  #dark-sky
    .stars
    .twinkling
    .clouds

  #top
    img#logo-ontop(src="logo-web.svg")
    ul#header
      li.main: a(href="./")
        img#logo(src="logo-web.svg")
        | MHz Hannover
      li: a(href="/#blog") Blog
      li: a(href="./kontakt.html") Kontakt
      li: a(href="./datenschutz.html") Datenschutz
      li: a(href="./english.html") English

  #content
    block content

script.
  window.night = () => {
    document.cookie = "theme=night";
    document.getElementsByTagName("body")[0].classList.add("night");
  };

  window.day = () => {
    document.cookie = "theme=day";
    document.getElementsByTagName("body")[0].classList.remove("night");
  }

  if (document.cookie.match("theme=night"))
    night()
